body {
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    
}

canvas {
    text-align: center ;
    padding-top:10px ; 
    padding-left: 38%;
}

img {
    width: auto;
    height: auto;
}

html {
    text-align: center;
}